<div class="col-span-9 grid-cols-3 gap-4">
    {#  card  #}
    <div class="shadow rounded bg-white px-4 pb-6">
        <div class="flex  justify-between items-center mt-4">
            <h3 class="font-medium text-gray-800 text-lg ">Title</h3>
            <a href="#" class="text-primary">view</a>
        </div>
        <div class="space-y-1 ">
            <h4 class="text-gray-700 font-medium">Test Test</h4>
            <p class="text-gray-800">tahahakmknknv</p>
            <p class="text-gray-800">0913255658</p>
        </div>
    </div>
    <div class="shadow rounded bg-white px-4 pb-6">
        <div class="flex  justify-between items-center mt-4">
            <h3 class="font-medium text-gray-800 text-lg ">Title</h3>
            <a href="#" class="text-primary">view</a>
        </div>
        <div class="space-y-1 ">
            <h4 class="text-gray-700 font-medium">Test Test</h4>
            <p class="text-gray-800">tahahakmknknv</p>
            <p class="text-gray-800">0913255658</p>
        </div>
    </div>
    <div class="shadow rounded bg-white px-4 pb-6">
        <div class="flex  justify-between items-center mt-4">
            <h3 class="font-medium text-gray-800 text-lg ">Title</h3>
            <a href="#" class="text-primary">view</a>
        </div>
        <div class="space-y-1 ">
            <h4 class="text-gray-700 font-medium">Test Test</h4>
            <p class="text-gray-800">tahahakmknknv</p>
            <p class="text-gray-800">0913255658</p>
        </div>
    </div>
</div>