{% extends 'base.html' %}
{% block main %}
    {# Login #}
    <div class="container py-16">
        <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
            <h2 class="text-2xl uppercase font-medium mb-1">login</h2>
            <p class="text-gray-600 mb-6 text-sm">lorem ipusem kmdklmcklsadml</p>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="space-y-4">
                    <div>
                        <label for="username" class="text-gray-600 mb-2 block">Username</label>
                        <input name="username" id="username" type="text"
                               class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:border-primary focus:ring-0 placeholder-gray-400"
                               placeholder="Enter your Username">
                    </div>
                    <div>
                        <label for="password" class="text-gray-600 mb-2 block">Password</label>
                        <input name="password" id="password" type="password"
                               class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:border-primary focus:ring-0 placeholder-gray-400"
                               placeholder="Enter your Password">
                    </div>
                </div>
                <div class="flex items-center justify-between mt-6">
                    <div class="flex items-center">
                        <input type="checkbox" id="agreement"
                               class="text-primary focus:ring-0 rounded-sm cursor-pointer">
                        <label for="agreement" class="text-gray-600 ml-3 cursor-pointer">Remember me</label>
                    </div>
                    <a href="#" class="text-primary">Forgot password</a>
                </div>
                <div class="mt-4">
                    <button type="submit"
                            class="py-2 block w-full bg-primary border border-primary text-white px-8 rounded hover:bg-transparent hover:text-primary transition font-medium font-roboto">
                        Login
                    </button>
                </div>
            </form>
            <div class="mt-6 flex justify-center relative">
                <div class="text-gray-600 uppercase px-3 bg-white z-10 relative">or login with</div>
                <div class="absolute left-0 top-3 w-full border-b-2 border-gray-200"></div>
            </div>
            <div class="flex mt-4">
                <button
                        class="py-2 block w-full bg-primary border border-primary text-white px-8 rounded hover:bg-transparent hover:text-primary transition font-medium font-roboto">
                    GOOGLE
                </button>
            </div>
            <p class="mt-4 text-gray-600 text-center">
                Dont have an account? <a class="text-primary" href="#">Register now</a>
            </p>
        </div>
    </div>
    {# Login end #}
{% endblock main %}