{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="/static/cart.css">
{% endblock %}
{% block main %}
    <div id="CartList">
        <div class="shopping-cart">
            <!-- Title -->
            <div class="title flex items-center justify-between">
                <div class="uppercase">Shopping Cart</div>
                <div>{{ total_item }}</div>
            </div>

            {% for product_id,item in cart_data.items %}
                <div class="item">
                    <div class="buttons">
                        <span class="delete-btn" data-item="{{ product_id }}"></span>
                    </div>

                    <div class="image w-16">
                        <img id="ProductImage-{{ product_id }}" src="{{ item.main_image }}" alt=""/>
                    </div>

                    <div class="description">
                        <span id="ProductName-{{ product_id }}">{{ item.name }}</span>
                        <span id="ProductSize-{{ product_id }}">{{ item.size }}</span>
                        <span>Size</span>
                    </div>

                    <div class="quantity">
                        <input id='ProductQuantity-{{ product_id }}' data-item="{{ product_id }}" class='qty-input'
                               type="number" name="name"
                               value="{{ item.quantity }}"
                               min="1">
                    </div>
                    {% if item.price != "" %}
                        <div id="ProductPrice-{{ product_id }}" class="price">{{ item.price }}</div>
                    {% else %}
                        <div id="ProductPrice-{{ product_id }}" class="final-price">{{ item.final_price }}</div>
                    {% endif %}
                    <div id="ProductFinalPrice-{{ product_id }}" class="final-price">{{ item.final_price }}</div>
                    <div id="ProductFinalPrice-{{ product_id }}"
                         class="total-price">{% widthratio item.final_price 1 item.quantity %}</div>
                </div>
            {% endfor %}
        </div>
        <div class="Checkout flex   justify-center">
            <!-- Title -->
            <div class="title">
                Checkout
            </div>

            <!-- Product #1 -->
            <div class="item">

                <div class="price">{{ total_amount }}</div>
                <div class="final-price">{{ total_final_amount }}</div>

            </div>
            <button class="items-center bg-primary text-white h-24 rounded-sm">Checkout</button>
        </div>
    </div>
    <script>
        $(document).on('click', '.delete-btn', function () {
            if (confirm('Are you sure to delete this product?')) {
                let p_id = $(this).attr('data-item')

                $.ajax({
                    type: 'POST',
                    url: '{% url 'delete_from_cart' %}',
                    data: {
                        'id': p_id,
                    },
                    success: function (response, status, xhr) {
                        $('#CartList').html(response.data)
                        $("#CartQuantity").text(response.total_item);
                    }
                })
            }

        })

        $(document).on('click', '.qty-input', function () {
            let p_id = $(this).attr('data-item')
            let p_quantity = $(this).val()
            $.ajax({
                type: 'POST',
                url: '{% url 'update_to_cart' %}',
                data: {
                    'id': p_id,
                    'quantity': p_quantity,
                },
                success: function (response, status, xhr) {
                    console.log(response.data)
                    $('#CartList').html(response.data)
                }
            })
        })
    </script>
{% endblock %}