<nav class="bg-gray-800">
    <div class="container flex">
        {#    All categories    #}
        <div class="px-8 py-4 bg-primary flex items-center cursor-pointer relative group">
            <span class="text-white">
                <i class="fas fa-bars"></i>
            </span>
            <span class="capitalize ml-2 text-white">All categories</span>

            <div class="absolute w-full left-0 top-full bg-white shadow-md py-3 divide-y divide-gray-300 divide-dashed opacity-0 group-hover:opacity-100 transition duration-300 invisible group-hover:visible">
                {% for category in parent_category %}
                    <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition group">
                        <img src="{{ category.icon.url }}" class="w-5 h-5 abject-contain">
                        <span class="ml-6 text-gray-600 text-sm">{{ category.name }}</span>
                    </a>
                    {% for subcategory in child_category %}
                        {% if subcategory.parent == category %}
                            <ul class="list-disc items-center">
                                <li class="pl-12 hover:bg-gray-100 transition">
                                    <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition">
                                        <img src="{{ subcategory.icon.url }}" class="w-5 h-5 abject-contain">
                                        <span class="ml-6 text-gray-600 text-xs">{{ subcategory.name }}</span>
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        {#    navbar link    #}
        <div class="flex items-center justify-between flex-grow pl-12">
            <div class="flex items-center space-x-6 capitalize">
                <a href="#" class="text-gray-200 hover:text-white transition">Home</a>
                <a href="#" class="text-gray-200 hover:text-white transition">About us</a>
                <a href="#" class="text-gray-200 hover:text-white transition">Contact us</a>
            </div>
            <i class="fas fa-login"></i>
            <a href="#" class="text-gray-200 hover:text-white transition">Login / Register</a>
        </div>

    </div>
</nav>
