<div class="container">
    <a href="#">
        <div class="max-w-xs w-full bg-primary shadow-lg rounded-xl p-6">
            <div class="flex flex-col ">
                <div class="">
                    <div class="relative h-62 w-full mb-3">
                        <div class="absolute flex flex-col top-0 right-0 p-3">
                            <button class="transition ease-in duration-300 bg-gray-800  hover:text-purple-500 shadow hover:shadow-md text-gray-500 rounded-full w-8 h-8 text-center p-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                                </svg>
                            </button>
                        </div>
                        <img src="{{ product.image }}"
                             class=" w-full   object-fill  rounded-2xl">
                    </div>
                    <div class="flex-auto justify-evenly">
                        <div class="flex flex-wrap ">
                            <div class="text-center flex items-center w-full justify-center min-w-0 text-xl text-gray-200 truncate">
                                {{ product.name }}
                            </div>
                        </div>
                        <div class="text-md text-center text-white font-semibold mt-1 justify-center">{{ product.price }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
