{% extends 'base.html' %}
{% block main %}
    {#  product view  #}
    <div class="container grid grid-cols-2 gap-6 mt-4">
        {#  product image  #}
        <div>
            <img src="{{ product_image_main.image.url }}" class="w-full">
            <div class="grid grid-cols-5 gap-4 mt-4">
                {% for img in product_images %}
                    <img src="{{ img.image.url }}" class="w-full cursor-pointer border">
                {% endfor %}
            </div>
        </div>
        {#  end product image  #}
        {#  product content  #}
        <div>
            <h2 class="text-3xl font-medium uppercase mb-2 ">{{ product.name }}</h2>
            <div class="flex items-center mb-4">
                <div class="flex gap-1 text-sm text-yellow-400">
                    <span><i class="fas fa-star"></i> </span>
                    <span><i class="fas fa-star"></i> </span>
                    <span><i class="fas fa-star"></i> </span>
                    <span><i class="fas fa-star"></i> </span>
                    <span><i class="fas fa-star"></i> </span>
                </div>
                <div class="text-xs text-gray-500 ml-3">({{ product.view }} Reviews)</div>
            </div>
            <div class="space-y-2">
                <p class="text-gray-800 font-semibold">
                    <span>Availability</span>
                    <span class="text-green-600">In Stock</span>
                </p>
                <p class="text-gray-800 font-semibold">
                    <span>Brand</span>
                    <span class="text-green-600">Nike</span>
                </p>
                <p class="text-gray-800 font-semibold">
                    <span>Category</span>
                    <span class="text-green-600">Men/sport</span>
                </p>
            </div>
            <div class="flex items-baseline mb-1 space-x-2 fonr-robot mt-4">
                <p class="text-2xl text-primary font-semibold">{{ product.price }}</p>
                <p class="text-base text-gray-400 line-through">55.00$</p>
            </div>
            <p class="mt-4 text-gray-600">
                cmkmdkcmK:Mck;MKmcKLmckl;McklMckl;mKL:MDcklmKL:DcKL:Mckl;ml
            </p>
            <div>
                {#  size filter  #}
            </div>
            <div class="mt-4">
                <h3 class="text-sm text-gray-800 uppercase mb-1">Quantity</h3>
                <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300 w-max">
                    <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">-</div>
                    <div class="h-8 w-8 text-base flex items-center justify-center">4</div>
                    <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">+</div>
                </div>
            </div>
            <div class="flex gap-3 border-b border-gray-200 pb-5 mt-6">
                <a href="#"
                   class="bg-primary border border-primary text-white px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:bg-transparent hover:text-primary transition">
                    <i class="fas fa-shopping-bag"></i> Add to cart
                </a>
            </div>
        </div>
        {#  end product content  #}

    </div>
    {#  end product view  #}
{% endblock %}
