{% extends 'base.html' %}
{% block title %}Shop{% endblock %}
{% block main %}
    {#  shop  #}
    <div class="container grid grid-cols-4 gap-6 pt-4 pb-16 items-start">
        {#  sidebar  #}
        <div class="col-span-1 bg-white px-4 pb-6 shadow rounded overflow-hidden">
            <div class="divide-y divide-gray-200 space-y-5">
                {#  category filter  #}
                <div>
                    <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">categories</h3>
                    <div class="space-y-2" id="category_filter">

                    </div>
                </div>
                {#  category filter end  #}
                {#  brand filter  #}
                <div class="pt-4">
                    <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">brands</h3>
                    <div class="space-y-2" id="brand_filter">

                    </div>
                </div>
                {#  brand filter end  #}
                {#  price filter  #}
                <div class="pt-4">
                    <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">price</h3>
                    <div class="mt-4 flex items-center">
                        <input type="text"
                               class="w-full border-gray-300 focus:border-primary focus:ring-0 px-3 py-1 text-gray-600 text-sm shadow-sm rounded"
                               placeholder="min">
                        <span class="mx-3 text-gray-500">-</span>
                        <input type="text"
                               class="w-full border-gray-300 focus:border-primary focus:ring-0 px-3 py-1 text-gray-600 text-sm shadow-sm rounded"
                               placeholder="max">

                    </div>
                </div>
                {#  price filter end  #}
                {#  size filter  #}
                <div class="pt-4">
                    <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">size</h3>
                </div>
                <select class="w-44 text-sm text-gray-600 px-4 py-3 border-gray-300 shadow-sm rounded-md focus:ring-primary focus:border-primary">
                    <option>42</option>
                    <option>36</option>
                    <option>43</option>
                    <option>35</option>
                    <option>41</option>
                </select>
            </div>
            {#  size filter end  #}
        </div>
        {#  sidebar end  #}
        {#  product  #}
        {#  sorting  #}
        <div class="col-span-3">
        <div class="flex items-center mb-4">
            <select class="w-44 text-sm text-gray-600 px-4 py-3 border-gray-300 shadow-sm rounded-md focus:ring-primary focus:border-primary">
                <option>Most Visited</option>
                <option>Most Sales</option>
                <option>Latest Product</option>
                <option>Price Low-High</option>
                <option>Price High-Low</option>
            </select>
        </div>
            {#  sorting end  #}
            {#  product grid  #}
            <div class="grid grid-cols-3 gap-6">
                {% for product in products %}
                    {% include 'product_card_category.html' %}
                {% endfor %}
            </div>
            {#  product grid end  #}
        </div>
    </div>
    {#  shop end #}
    <script>
        $.ajax({
            type: 'GET',
            url: '{% url 'category_list_api' %}',
            success: function (response, status, xhr) {
                let category_list = response
                let category_filter = document.getElementById('category_filter')
                for (let parent_category of category_list) {
                    let div_tag = document.createElement("div")
                    div_tag.className = "flex items-center"

                    let input_tag = document.createElement('input')
                    input_tag.className = "text-primary focus:ring-0 rounded-sm cursor-pointer"
                    input_tag.setAttribute("type", "checkbox")
                    input_tag.setAttribute("id", "cat-" + parent_category.id)

                    let lable_tag = document.createElement('label')
                    lable_tag.className = "text-gray-600 ml-3 cursor-pointer"
                    lable_tag.setAttribute('for', "cat-" + parent_category.id)
                    lable_tag.innerText = parent_category.name

                    let div_count_tag = document.createElement('label')
                    div_count_tag.className = "ml-auto text-gray-600 text-sm"
                    div_count_tag.innerText = parent_category.product_count

                    div_tag.appendChild(input_tag)
                    div_tag.appendChild(lable_tag)
                    div_tag.appendChild(div_count_tag)

                    if (parent_category.subcategories !== []) {
                        var ul_tag = document.createElement('ul')
                        ul_tag.className = "list-disc items-center"
                    }
                    for (let sub_category of parent_category.subcategories) {

                        let li_tag = document.createElement('li')
                        li_tag.className = "items-center flex pl-12"

                        let sub_input_tag = document.createElement('input')
                        sub_input_tag.className = "text-primary focus:ring-0 rounded-sm cursor-pointer"
                        sub_input_tag.setAttribute("type", "checkbox")
                        sub_input_tag.setAttribute("id", "cat-" + sub_category.id)

                        let sub_lable_tag = document.createElement('label')
                        sub_lable_tag.className = "text-gray-600 ml-3 cursor-pointer"
                        sub_lable_tag.setAttribute('for', "cat-" + sub_category.id)
                        sub_lable_tag.innerText = sub_category.name

                        let sub_div_count_tag = document.createElement('label')
                        sub_div_count_tag.className = "ml-auto text-gray-600 text-sm"
                        sub_div_count_tag.innerText = sub_category.product_count

                        li_tag.appendChild(sub_input_tag)
                        li_tag.appendChild(sub_lable_tag)
                        li_tag.appendChild(sub_div_count_tag)

                        ul_tag.appendChild(li_tag)

                    }
                    category_filter.appendChild(div_tag)
                    category_filter.appendChild(ul_tag)


                }
            }
        })

        $.ajax({
            type: 'GET',
            url: '{% url 'brand_list_api' %}',
            success: function (response, status, xhr) {
                let brand_list = response
                let brand_filter = document.getElementById('brand_filter')
                for (let brand of brand_list) {
                    let div_tag = document.createElement("div")
                    div_tag.className = "flex items-center"

                    let input_tag = document.createElement('input')
                    input_tag.className = "text-primary focus:ring-0 rounded-sm cursor-pointer"
                    input_tag.setAttribute("type", "checkbox")
                    input_tag.setAttribute("id", "brand-" + brand.id)

                    let lable_tag = document.createElement('label')
                    lable_tag.className = "text-gray-600 ml-3 cursor-pointer"
                    lable_tag.setAttribute('for', "brand-" + brand.id)
                    lable_tag.innerText = brand.name

                    let div_count_tag = document.createElement('label')
                    div_count_tag.className = "ml-auto text-gray-600 text-sm"
                    div_count_tag.innerText = brand.product_count

                    div_tag.appendChild(input_tag)
                    div_tag.appendChild(lable_tag)
                    div_tag.appendChild(div_count_tag)

                    brand_filter.appendChild(div_tag)

                }
            }
        })
    </script>

{% endblock main %}